.challenge-container {
    margin-top: 50px;
}

.challenge-container > div {
    min-height: 150px;
    width: 100%;
}

.content-header {
    font-family: var(--heading-font);
    font-style: italic;
    font-size: 50px;
    padding-bottom: 10px;
    transition: var(--reg-animation);
}

.available-container.dark .content-header,
.selected-container.dark .content-header,
.edit-container.dark .content-header {
    border-bottom: 1px solid #fff;
    color: #fff;
}

.available-container.light .content-header,
.selected-container.light .content-header,
.edit-container.light .content-header {
    border-bottom: 1px solid #000;
    color: #000;
}

/* Available container div */
.available-btn-container {
    margin-top: 1.1rem;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    gap: 10px;
    min-height: 70px;
}

.available-btn {
    height: 70px;
    width: 300px;
    cursor: pointer;
    font-size: 30px;
    border-radius: 150px;
    transition: var(--short-animation);
    font-family: var(--input-font);
}

.available-container.light .available-btn {
    background-color: #000;
    color: #fff;
    border: none;
}

.available-container.light .available-btn:hover {
    background-color: rgb(39, 39, 39);
}

.available-container.dark .available-btn {
    background-color: #fff;
    color: #000;
    border: none;
}

.available-container.dark .available-btn:hover {
    background-color: rgb(212, 212, 212);
}

/* Selected container div */
.selected-btn-container {
    padding-top: 15px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    width: 100%;
    min-height: 70px;
    gap: 10px;
}

.selected-btn {
    display: flex;
    width: 300px;
    justify-content: space-between;
    padding: 25px;
    border-radius: 30px;
    font-size: 20px;
    font-family: var(--input-font);
    transition: var(--short-animation);
}

.selected-btn-container.light .selected-btn {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
}

.selected-btn-container.dark .selected-btn {
    background-color: #000;
    color: #fff;
    border: 1px solid #fff;
}

.selected-btn-container.light .selected-btn .util-btn {
    border-left: 1px solid #000;
}

.selected-btn-container.dark .selected-btn .util-btn {
    border-left: 1px solid #fff;
}

.util-btn {
    display: flex;
    width: 50%;
    justify-content: right;
    align-items: center;
}

.util-btn button {
    margin-left: 5px;
    height: 30px;
    width: 55px;
    padding: 0.5rem 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    cursor: pointer;
    border: none;
    color: #fff;
    border-radius: 15px;
    transition: var(--short-animation);
}

.util-btn button:hover {
    opacity: 0.75;
}

.edit-btn {
    background-color: rgb(6, 146, 211);
}

.del-btn {
    background-color: rgb(255, 0, 0);
}

/* Edit container div */
.edit-container {
    margin-top: 0;
    animation: edit-appears 1s;
}

.edit-container.hide {
    opacity: 0;
    display: none;
}

.edit-container.show {
    opacity: 1;
}

.edit-input-container {
    display: flex;
    flex-direction: column;
    padding: 15px;
    justify-content: center;
    align-items: center;
}

.selected-type,
.label-input,
.num-input {
    transition: var(--short-animation);
}

.selected-type.light,
.label-input.light,
.num-input.light {
    color: #000;
}

.selected-type.dark,
.label-input.dark,
.num-input.dark {
    color: #fff;
}

.num-input.light {
    background-color: #fff;
    border: 1px solid #000;
}

.num-input.dark {
    background-color: #000;
    border: 1px solid #fff;
}

.edit-input-container form {
    display: grid;
    row-gap: 5px;
    align-items: center;
    grid-template-areas:
        "question1 answer1 answer1"
        "question2 answer2 answer2"
    ;
}

.label-input {
    font-family: var(--input-font);
    /* padding-top: 0.5rem; */
    padding-right: 0.5rem;
    font-size: 1.3rem;
}

.selected-type {
    text-align: center;
    font-size: 2.5rem;
    font-weight: lighter;
    margin-bottom: 0.5rem;
}

.edit-input-container .selected-type {
    font-family: var(--secondary-font);
    grid-area: title;
}

.num-input {
    height: 1.8rem;
    border-radius: 5px;
    text-align: center;
    width: 4rem;
    font-size: 0.8rem;
}

.label-input-min {
    grid-area: question1;
}

.label-input-max {
    grid-area: question2;
}

.input-min {
    grid-area: answer1;
}

.input-max {
    grid-area: answer2;
}

@keyframes edit-appears {
    0% {
        opacity: 0;
        height: 0px;
    }
    50% {
        height: fit-content;
    }
    100% {
        opacity: 100%;
    }
}