.challenge-container {
    margin-top: 50px;
}

.challenge-container > div {
    padding-bottom: 25px;
    min-height: 200px;
    width: 100%;
}

.content-header {
    font-family: var(--heading-font);
    font-style: italic;
    font-size: 50px;
    margin-bottom: 1rem;
}

.available-container.dark .content-header,
.selected-container.dark .content-header,
.edit-container.dark .content-header {
    color: #fff;
}

.available-container.light .content-header,
.selected-container.light .content-header,
.edit-container.light .content-header {
    color: #000;
}

/* Available container div */
.button-container {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    gap: 10px;
}

.available-btn {
    height: 70px;
    width: 300px;
    font-family: var(--input-font);
}

/* Selected container div */
.selected-container {
    
}

/* Edit container div */
.edit-container.show {
    display: block;
}

.edit-container.hide {
    display: none;
}

