.menu {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 100;
}

.menu.show {
    display: block;
}

.menu.hide {
    display: none;
}

.burger-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    transition: var(--reg-animation);
    cursor: pointer;
    transition: var(--short-animation);
}

.burger-menu:hover {
    transform: scale(1.1);
}

.burger-menu.light .burger-icon{
    filter: invert(100%);
}

.burger-icon {
    width: 30px;
    height: 30px;
}

.menu-list {
    --menu-list-width: 300px;

    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: fixed;
    background-color: #111;
    overflow-x: hidden;
    border-radius: 0px 0px 0px 0px;
    z-index: 1;
    top: 0;
    height: 100vh;
    width: var(--menu-list-width);
    right: calc(var(--menu-list-width) * -1);
    padding: 0;

    transition: var(--reg-animation);
}

/* Inside the menu */
.close-btn {
    position: absolute;
    top: 20px;
    right: 30px;
    cursor: pointer;

    /* To make button not selectable */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.close-sign {
    font-size: 30px;
    color: #fff;
}

.menu-list > * {
    display: flex;
    justify-content: center;
    white-space: nowrap;
}

.menu-list h2 {
    font-family: var(--heading-font);
    font-size: 40px;
    padding: 3rem;
    border-bottom: 1px solid #fff;
}

.menu-list li,
#set-mode label {
    font-family: var(--secondary-font);
    padding: 2rem;
    font-size: 18px;
}

.menu-link,
#set-mode label {
    color: #fff;
    text-decoration: none;
    transition: var(--short-animation);
}

.menu-link:hover,
#set-mode label:hover {
    color: rgb(189, 189, 189);
}

#set-mode {
    display: block;
    position: relative;
    margin: 0 auto;
    padding: 2rem;
    max-width: 80%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#set-mode label,
.checkmark {
    cursor: pointer;
}

#set-mode label {
    padding: 0;
    margin-left: 10px;
}

/* Hide the browser's default checkbox */
#set-mode input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #fff;
    border-radius: 3px;
    transition: var(--short-animation);
}

.checkbox-container:hover input~.checkmark {
    background-color: rgba(0, 0, 0, 0.7);
}

.checkbox-container input:checked~.checkmark {
    background-color: rgba(0, 0, 0, 1);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-container input:checked~.checkmark:after {
    display: block;
}

.checkbox-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


