.mode-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: var(--regular-transition);
    top: 5px;
    right: 5px;
    padding: 5px;
    border-radius: 100%;
}

.mode-container:hover {
    transform: scale(1.1);
}

.mode-container.light {
    background-color: rgb(0, 0, 0);
}

.mode-container.dark {
    background-color: rgb(255, 255, 255);
}

.mode-container img {
    width: 40px;
    height: 40px;
}