@import url('https://fonts.googleapis.com/css2?family=PT+Serif+Caption:ital@0;1&family=Rasa:wght@300;400;500&family=Red+Hat+Display:wght@300;400;500&family=Red+Rose:wght@300;400;500&family=Sansita:wght@700&display=swap');

*, *::before, *::after {
    margin: 0;
    box-sizing: border-box;
    
    --heading-font: 'Sansita', sans-serif;
    --secondary-font: 'Red Rose', cursive;
    --tertiary-font: Arial, Helvetica, sans-serif;
    --quaternary-font: 'Arial Narrow',Arial,sans-serif;
    --input-font: 'Red Hat Display', sans-serif;
    --question-font: 'Rasa', serif;

    --reg-animation: all 0.5s ease-in-out;
    --short-animation: all 0.25s ease-in-out;
}

:root {
    --regular-transition: 0.2s ease-in-out;
    --slow-transition: 0.5s ease-in-out;
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
}

.App.dark {
    background-color: black;
}

.App.light {
    background-color: #fff;
}

.content {
    min-width: 80vw;
    min-height: 100vh;
}

.content.dark {
    background-color: black;
}