*, *::before, *::after {
    margin: 0;
    box-sizing: border-box;
}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    background-color: beige;
    min-width: 80vw;
    min-height: 100vh;
}