.menu {
    position: absolute;
    width: 50px;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: black;
    transition: var(--slow-transition);
    display: flex;
    justify-content: flex-start;
}

.menu:hover {
    width: 250px;
}

.menu:hover .burger-menu {
    transform: scale(0);
}

.burger-menu {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: black;
    position: absolute;
    right: 0;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    transition: var(--regular-transition);
}

.burger-icon {
    width: 40px;
    height: 40px;
}


/* Menu text */
.menu:hover .menu-list li {
    opacity: 1;
}

.menu-list {
    display: block;
    list-style: none;
    min-width: fit-content;
    padding: 0;
    list-style-type: none;
}

.menu-link {
    opacity: 0;
    font-size: 0;
    transition: var(--regular-transition);
    
    color: #fff;
    text-decoration: none;
}

.menu:hover .menu-link {
    font-size: 15px;
    opacity: 1;
}




