.menu {
    position: relative;
    display: inline-block;
}

.burger-menu {
    --burger-size: 50px;
    --menu-to-burger-padding: 15px;

    background-color: black;
    top: 0;
    right: calc((var(--burger-size) + var(--menu-to-burger-padding)) * -1);
    border-radius: 100%;
    width: var(--burger-size);
    height: var(--burger-size);
}

.burger-menu:hover + .menu-list {
    display: block;
}

.menu-list {
    display: none;
}
