.menu {
    position: relative;
    display: inline-block;
    width: fit-content;
    height: 100px;
}

.burger-menu {
    background-color: black;
    height: 100px;
    width: 100px;
}

.burger-menu:hover + .menu-list {
    display: block;
}

.menu-list {
    display: none;
}